- name: Copying mongodb.repo file as /etc/yum.repos.d/mongodb.repo
  ansible.builtin.copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo
    owner: root
    group: root
    mode: "0644"