---
# tasks file for mongodb

#Setting-up Roboshop Application Basic Requirements
- name: Run Roboshop Application Basic Requirements
  ansible.builtin.import_role:
    name: common
    tasks_from: roboshop_basic_requirements.yml

#Installing MongoDB Database
- name: Copying mongodb.repo file as /etc/yum.repos.d/mongodb.repo
  ansible.builtin.copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo
    owner: root
    group: root
    mode: "0644"

- name: Installing MongoDB Database
  ansible.builtin.package:
    name: mongodb-org
    state: present

- name: Enabling and starting MongoDB Database
  ansible.builtin.systemd:
    name: mongod
    state: started
    enabled: true

- name: Configuring MongoDB to listen on all interfaces
  ansible.builtin.lineinfile:
    path: /etc/mongod.conf
    regexp: '^\s*bindIp:\s*'
    line: "  bindIp: 0.0.0.0"
  notify: Restart mongod
