---
# tasks file for web
#Setting-up Roboshop Basic App Requirements
- name: Creating Roboshop Default App Directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Creating Roboshop Default Log Directory
  ansible.builtin.file:
    path: /app/log
    state: directory

- name: Creating Web Microservice Default Log File
  ansible.builtin.file:
    path: /app/log/web_date_time.log
    state: touch

- name: Creating Roboshop Service User (roboshop) with Password
  ansible.builtin.user:
    name: roboshop
    state: present
    create_home: true
    shell: /bin/bash
    password: "{{roboshop_password_hash}}"
    update_password: on_create

- name: Creating Ansible Default User (ansadmin) with Password
  ansible.builtin.user:
    name: ansadmin
    state: present
    create_home: true
    shell: /bin/bash
    password: "{{ansadmin_password_hash}}"
    update_password: on_create

- name: Ensuring SUDO is Installed
  ansible.builtin.package:
    name: sudo
    state: present

- name: Allowing ansadmin Passwordless Sudo
  ansible.builtin.copy:
    path: /etc/sudoers.d/ansadmin
    content: "ansadmin ALL=(ALL) NOPASSWD=ALL\n"
    owner: root
    group: root
    mode: "0440"

#Setting-up Nginx
- name: Installing Nginx
  ansible.builtin.package:
    name: nginx
    state: present

- name: Enabling and Starting Nginx Service
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: true

#Setting-up Web Microservice Application Code
- name: Removing Nginx Default HTML Pages
  ansible.builtin.command: "rm -rf /usr/share/nginx/html/*"

- name: Downloading Web Microservice Application Code
  ansible.builtin.get_url:
    url: https://roboshop-builds.s3.amazonaws.com/web.zip
    dest: /tmp/web.zip

- name: Unzipping Web Microservice Application Code to /usr/share/nginx/hmtl/
  ansible.builtin.unarchive:
    src: /tmp/web.zip
    dest: /usr/share/nginx/html/
    remote_src: true

#Setting-up Nginx Reverse Proxy
- name: Copying roboshop.conf.j2 as /etc/nginx/default.d/roboshop.conf
  ansible.builtin.template:
    src: roboshop.conf.j2
    dest: /etc/nginx/default.d/roboshop.conf

- name: Restarting Nginx Service
  ansible.builtin.systemd:
    name: nginx
    state: restarted


