---
# tasks file for redis
#Setting-up Roboshop Application Basic Requirements
- name: Run Roboshop Application Basic Requirements (from common to reddis microservice)
  ansible.builtin.import_role:
    name: common
    tasks_from: roboshop_basic_requirements.yml

#Setting-up Redis Database
- name: Installing Remi Repository
  ansible.builtin.command: "dnf install https://rpms.remirepo.net/enterprise/remi-release-8.rpm -y"

- name: Enabling Redis 6.2 Module Stream from Remi Repo
  ansible.builtin.command: "dnf module enable redis:remi-6.2 -y"

- name: Installing Redis Required Version (6.2)
  ansible.builtin.package:
    name: redis
    state: present

- name: Enabling and Starting Redis Service
  ansible.builtin.import_role:
    name: common
    tasks_from: enable_start_service.yml

- name: Configuring Reddis to listen on all interfaces
  ansible.builtin.lineinfile:
    path: /etc/redis.conf
    regexp: '^\s*bindIp:\s*'
    line: "  bindIp: 0.0.0.0"
  notify: Restart redis