[Unit]
Description=Dispatch Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app/dispatch

# RabbitMQ connection for dispatch
Environment=AMQP_HOST=rabbitmq.optimusprime.sbs
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

# 👇 Run the compiled Go binary
ExecStart=/app/dispatch/dispatch

Restart=on-failure
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target
